/* mobile version */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: gray;
}
h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
}
h1 {
  font-size: 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

li {
  display: inline-block;
  padding-left: 18px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.header{
  width: 42%;
  position: absolute;
  right:5%;
  top: 70px;
  z-index: 1;
}

.logo {
  width: 100px;
  position: absolute;
}

.fylo-word {
  fill: black;
}

.fylo {
  width: 100%;
}

.social-icon {
  text-align: end;
  padding: 5px;
}

li a {
  color: black;
  font-size: 17px;
  padding-left: 18px;
}

.photo-section {
  width: 47%;
  background:  linear-gradient(
    to top right,
    hsl(243, 45%, 64%),
    hsl(243, 94%, 18%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;   
}

.showcase-img{
  width: 70%;
}

.content-wrapper{
  width: 53%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.content {
  width: 78%;
  padding-top: 100px;
}
.slogen {
  width: 100%;
}

.slogen  h1{
  font-size: 35px;
  line-height: 2.5rem;
}

.desc {
  font-size: 15px;
  padding: 30px 0 40px;
  width: 85%;
}

.signUp-form{
  width: 100%;
  padding-bottom: 50px
}

.signUp-form h4{ 
 padding-bottom: 15px;  
}
input[type="email"] {
  width: 63%;
  padding: 14px 10px;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  margin-right: 3px; 
}

.btn {
  background-color: hsl(163, 95%, 43%);
  display: inline-block;
  padding: 12px 5px;
  width: 35%;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.priv {
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  color: black;
}

.priv a {
  color: black;
}

.attribution {
  background-color: hsl(0, 0%, 90%);
  font-size: 10px;
  padding: 3px;
  text-align: center;
  
}

footer{
  width: 100%;
}

/* tablet version */
 @media screen and (max-width: 860px) {
   .slogen h1{
     font-size: 25px;
     line-height: 1.9rem;
   }
   
   .desc {
     font-size: 13px;
   }
   
   .logo{
     width: 90px;
   }
   
   .social-icon a{
     font-size: 15px;
   }
   .social-icon{
     padding: 0;
   }
   
   input[type="email"] {
    width: 62%;
  }
}


@media screen and (max-width: 600px) {
  .photo-section{
    order: -1;
    width: 100%;
    background:  url('./images/bg-intro.svg') no-repeat cover;
  height: 75%;
  align-items: flex-end;
  padding-bottom: 30px;
  }
  
  .showcase-img{
    width: 60%; 
  }
  
  .header{
    width: 90%;
    top: 6%;
  }
  
  .logo{
    width: 90px;
  }
  
  .fylo-word{
    fill: white;
  }
  
  .social-icon a{
    color: white;
    font-size: 20px;
  }
  
  .content-wrapper{
    width: 100%;
    margin-bottom: 40px; 
  }
  
  .slogen h1{
    font-size: 30px;
  }
}



/* desktop version */
/*@media screen and (min-width: 850px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .showcase {
    background: linear-gradient(
      to top right,
      hsl(243, 45%, 64%),
      hsl(243, 94%, 18%)
    );
    width: 47%;
    height: 100vh;
  }
  .showcase-top {
    left: 100%;
    top:5%;
  }
  
  .logo{
      left: 14%;
      width: 100px;
  }
  
  .fylo-word{
      fill: black;
  }
  .social-icon{
      right: 0;
      width: 50%;
      text-align: end;
  }
  li a {
      color: black;
      font-size: 20px;
      padding-left: 18px;
  }
  
  .content {
    width: 40%;
    height: 100vh;
    margin: 0;
  }
  
  .desc{
      margin: 40px 80px 70px 0;
      font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  footer {
    width: 100%;
   
  }
  
  input[type="email"] {
    width: 60%;
    padding: 20px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
  }
  
  .btn {
    padding: 18px 5px;
    width: 35%;
  }
  
  .priv{
      margin-top: 100px;
      padding-right: 15px; 
  }
  
} */
